.idea/
.DS_Store
__pycache__git/
classification/convertor/
segmentation/convertor/
detection/convertor/
checkpoint_dir/
demo/
pretrained/
upload.py
data/
work_dirs/

*.pth
*.jpg
*.jpeg
*.JPG
*.png
*__pycache__